[submodule "src/include/Third/SteinerTree2"]
	path = src/include/Third/SteinerTree2
	url = https://github.com/jacky860226/steiner-tree-2-approximation.git
[submodule "src/include/Third/Flute3-Cpp-Wrapper"]
	path = src/include/Third/Flute3-Cpp-Wrapper
	url = https://github.com/jacky860226/Flute3-Cpp-Wrapper.git
